 <nav>
  <div class="logo">GuidanceHub</div>
  <ul>
    <li><a href="/home">Home</a></li>
    <% if (user) { %>
    <li>
      <a href="/begin">Begin</a>
    </li>
    <% } %>
  
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <% if(!user){ %>
    <li><a class="login-btn" href="/login">Login</a></li>
    <% } %>

    <% if (user) { %>
    <li>
      <a class="login-btn" href="/conversations">View Previous Conversations</a>
    </li>
    <% } %>
  </ul>
</nav>