<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login In - AI-Powered Life Advice</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/nav') %>

    <!-- Hero Section -->
    <section class="hero">
      <div class="content-container">
        <h1>Login</h1>
        <h3>Keep track of your previous advice</h3>
        <form class="login-info">
            <input type="email" id="username" placeholder="Email or Phone">
            <input type="password" id="password" placeholder="Password">
            <a href="#">Forgot Password?</a>

        </form>
        <button>Sign In</button>
        <p class="new-user">New to GuidanceHub? <a href="#">Sign Up Here</a></p>
      </div>
      
    </section>

    <!-- Footer -->
    <footer>
      <p>© 2025 GuidanceHub. All rights reserved.</p>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
</html>