<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login In - AI-Powered Life Advice</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/nav') %>

    <!-- Hero Section -->
    <section class="hero">
      <div class="content-container">
        <h1>Login</h1>
        <h3>Keep track of your previous advice</h3>
        
            <a class="login-btn margin1" href="/auth/google">Login with Google</a>

       
  
      </div>
      
    </section>

    <!-- Footer -->
    <footer>
      <p>© 2025 GuidanceHub. All rights reserved.</p>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
</html>